In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from sqlalchemy import create_engine
import sqlite3
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base

In [ ]:
# connection to engine
engine=create_engine('sqlite:///static/data/summerspots.db', echo=True)

In [12]:
path_2020="../Project_2/db/combined_data_2020.csv"
path_2019="../Project_2/db/combined_data_2019.csv"

In [13]:
data_2020=pd.read_csv(path_2020)
data_2019=pd.read_csv(path_2019)
data_2020.head()

,Scheduled_Arrival_(2020),Trip_Count_(2020),Dependency_(2020),Load_Factor_(2020)
0,CUN,3,100.0,37.5
1,AUA,39,82.1,50.6
2,CUN,81,86.4,75.2
3,CZM,11,72.7,35.9
4,MBJ,118,68.6,61.4

In [14]:
data_2019.head()

,Scheduled_Arrival_(2019),Trip_Count_(2019),Dependency_(2019),Load_Factor_(2019)
0,CUN,12,91.7,91.7
1,ANU,12,41.7,93.6
2,AUA,191,65.4,93.0
3,BDA,11,54.5,91.3
4,BGI,75,73.3,92.5

In [17]:
#groupby arrivals 2020
grouped_2020=data_2020.groupby("Scheduled_Arrival_(2020)")

#calculations 
trip_count_total=grouped_2020["Trip_Count_(2020)"].sum()
on_time_avg=grouped_2020["Dependency_(2020)"].mean()
lf_avg=grouped_2020["Load_Factor_(2020)"].mean()

#create dataframe
data_2020_grouped=pd.DataFrame({"Trip Count (2020)":trip_count_total,
                               "Dependency Avg (2020)":round(on_time_avg,2),
                               "Load Factor Avg (2020)":round(lf_avg,2)})
data_2020_grouped.head()

,Trip Count (2020),Dependency Avg (2020),Load Factor Avg (2020)
Scheduled_Arrival_(2020),,,
ACA,3,100.0,73.2
AGU,106,85.8,77.0
ANU,88,89.8,52.2
AUA,92,83.5,51.1
BJX,148,78.4,73.7

In [18]:
#groupby arrivals 2019
grouped_2019=data_2019.groupby("Scheduled_Arrival_(2019)")

#calculations 
trip_count_total_2019=grouped_2019["Trip_Count_(2019)"].sum()
on_time_avg_2019=grouped_2019["Dependency_(2019)"].mean()
lf_avg_2019=grouped_2019["Load_Factor_(2019)"].mean()

#create dataframe
data_2019_grouped=pd.DataFrame({"Trip Count (2019)":trip_count_total_2019,
                               "Dependency Avg (2019)":round(on_time_avg_2019,2),
                               "Load Factor Avg (2019)":round(lf_avg_2019,2)})
data_2019_grouped.head()

,Trip Count (2019),Dependency Avg (2019),Load Factor Avg (2019)
Scheduled_Arrival_(2019),,,
AGU,182,56.00,81.20
ANU,196,61.37,93.40
AUA,487,67.40,88.22
BAQ,90,75.60,88.40
BDA,374,63.36,83.82

In [23]:
# export csv
data_2019_grouped.to_csv('db/Final_2019_data.csv', index=True)
data_2020_grouped.to_csv("db/Final_2020_data.csv", index=True)

In [7]:
# # connection to engine
engine=create_engine('sqlite:///static/data/summerspots.db', echo=True)
sqlite_connection=engine.connect()

2021-01-29 22:11:33,371 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-29 22:11:33,375 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 22:11:33,376 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-29 22:11:33,377 INFO sqlalchemy.engine.base.Engine ()

In [19]:
# original code 
sqlite_table_2019="vacation2019"
data_2019.to_sql(sqlite_table_2019,sqlite_connection, if_exists='replace')

2021-01-29 23:04:15,309 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("vacation2019")
2021-01-29 23:04:15,310 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,312 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("vacation2019")
2021-01-29 23:04:15,313 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,315 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-01-29 23:04:15,315 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,317 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("vacation2019")
2021-01-29 23:04:15,318 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,320 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-01-29 23:04:15,321 INFO sqlalchemy.engine.base.Engine ('vacation2019',)
2021-01-29 23:04:15,323 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("vacation2019")
2021-01-29 23:04:15,324 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,325 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("vacation2019")
2021-01-29 23:04:15,326 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,327 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-01-29 23:04:15,327 INFO sqlalchemy.engine.base.Engine ('vacation2019',)
2021-01-29 23:04:15,329 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("vacation2019")
2021-01-29 23:04:15,330 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,331 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_vacation2019_index")
2021-01-29 23:04:15,332 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,333 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("vacation2019")
2021-01-29 23:04:15,334 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,335 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_vacation2019_index")
2021-01-29 23:04:15,336 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,337 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-01-29 23:04:15,338 INFO sqlalchemy.engine.base.Engine ('vacation2019',)
2021-01-29 23:04:15,340 INFO sqlalchemy.engine.base.Engine
DROP TABLE vacation2019
2021-01-29 23:04:15,341 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,346 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-29 23:04:15,348 INFO sqlalchemy.engine.base.Engine
CREATE TABLE vacation2019 (
	"index" BIGINT,
	"Scheduled_Arrival_(2019)" TEXT,
	"Trip_Count_(2019)" BIGINT,
	"Dependency_(2019)" FLOAT,
	"Load_Factor_(2019)" FLOAT
)


2021-01-29 23:04:15,349 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,354 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-29 23:04:15,356 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_vacation2019_index ON vacation2019 ("index")
2021-01-29 23:04:15,356 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:15,363 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-29 23:04:15,367 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 23:04:15,371 INFO sqlalchemy.engine.base.Engine INSERT INTO vacation2019 ("index", "Scheduled_Arrival_(2019)", "Trip_Count_(2019)", "Dependency_(2019)", "Load_Factor_(2019)") VALUES (?, ?, ?, ?, ?)
2021-01-29 23:04:15,372 INFO sqlalchemy.engine.base.Engine ((0, 'CUN', 12, 91.7, 91.7), (1, 'ANU', 12, 41.7, 93.6), (2, 'AUA', 191, 65.4, 93.0), (3, 'BDA', 11, 54.5, 91.3), (4, 'BGI', 75, 73.3, 92.5), (5, 'BZE', 12, 25.0, 85.2), (6, 'CUN', 261, 52.9, 92.3), (7, 'CUR', 14, 71.4, 90.4)  ... displaying 10 of 179 total bound parameter sets ...  (177, 'ZIH', 12, 41.7, 79.1), (178, None, 22037, 57.5, 85.9))
2021-01-29 23:04:15,376 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
sqlite_table_2020="vacation2020"
data_2020.to_sql(sqlite_table_2020,sqlite_connection, if_exists='replace')

2021-01-29 23:04:31,990 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("vacation2020")
2021-01-29 23:04:31,991 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:31,992 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("vacation2020")
2021-01-29 23:04:31,993 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:31,994 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-01-29 23:04:31,995 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:31,996 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("vacation2020")
2021-01-29 23:04:31,997 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:31,999 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-01-29 23:04:32,000 INFO sqlalchemy.engine.base.Engine ('vacation2020',)
2021-01-29 23:04:32,001 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("vacation2020")
2021-01-29 23:04:32,002 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,003 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("vacation2020")
2021-01-29 23:04:32,004 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,005 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-01-29 23:04:32,006 INFO sqlalchemy.engine.base.Engine ('vacation2020',)
2021-01-29 23:04:32,007 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("vacation2020")
2021-01-29 23:04:32,008 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,009 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_vacation2020_index")
2021-01-29 23:04:32,011 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,012 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("vacation2020")
2021-01-29 23:04:32,013 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,014 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_vacation2020_index")
2021-01-29 23:04:32,015 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,016 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-01-29 23:04:32,017 INFO sqlalchemy.engine.base.Engine ('vacation2020',)
2021-01-29 23:04:32,018 INFO sqlalchemy.engine.base.Engine
DROP TABLE vacation2020
2021-01-29 23:04:32,019 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,024 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-29 23:04:32,027 INFO sqlalchemy.engine.base.Engine
CREATE TABLE vacation2020 (
	"index" BIGINT,
	"Scheduled_Arrival_(2020)" TEXT,
	"Trip_Count_(2020)" BIGINT,
	"Dependency_(2020)" FLOAT,
	"Load_Factor_(2020)" FLOAT
)


2021-01-29 23:04:32,028 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,034 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-29 23:04:32,035 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_vacation2020_index ON vacation2020 ("index")
2021-01-29 23:04:32,037 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 23:04:32,042 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-29 23:04:32,044 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 23:04:32,046 INFO sqlalchemy.engine.base.Engine INSERT INTO vacation2020 ("index", "Scheduled_Arrival_(2020)", "Trip_Count_(2020)", "Dependency_(2020)", "Load_Factor_(2020)") VALUES (?, ?, ?, ?, ?)
2021-01-29 23:04:32,047 INFO sqlalchemy.engine.base.Engine ((0, 'CUN', 3, 100.0, 37.5), (1, 'AUA', 39, 82.1, 50.6), (2, 'CUN', 81, 86.4, 75.2), (3, 'CZM', 11, 72.7, 35.9), (4, 'MBJ', 118, 68.6, 61.4), (5, 'MEX', 66, 84.8, 59.4), (6, 'NAS', 16, 81.3, 23.2), (7, 'PLS', 20, 90.0, 30.6)  ... displaying 10 of 75 total bound parameter sets ...  (73, 'ZIH', 3, 0.0, 44.2), (74, None, 4902, 80.7, 60.4))
2021-01-29 23:04:32,051 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
sqlite_connection.close()